.user_completed {
    animation: fadeInFromNone 1s backwards;
    opacity: .5;
}

/*li.user_completed::marker,*/ li.user_completed h2 {
    text-decoration: line-through;
}

.user_still_locked {
    opacity: .5;
}

body {
    --global-background-color: white;
    background-color: var(--global-background-color);
    
    min-width: 20rem;
    min-height: 10rem;
    /* Upon load, popup.js will shrink to match viewport */
    width: 800px;
    height: 600px;

    padding: 1.25em calc(1.5em - 5px) .75em 1.5em;
}

#tab-reset-button {
    margin-right: calc(.5em - .25rem) !important;
}

#vertical-page-flex {
    height: 100%;

    display: flex;
    flex-basis: auto;
    flex-wrap: nowrap;
    flex-direction: column;

    position: relative;
}

#vertical-page-flex > h1 {
    font-size: x-large;

    flex-shrink: 0;
}

#vertical-page-flex > #steps-scrollthrough-container {
    flex-shrink: 1;
}

ol.landing-steps{
    max-height: 100%;
    padding-left: 2rem;
    padding-right: 1rem;
}

/* Header line (in popup's main list of steps) */
ol.landing-steps li::marker, ol.landing-steps h2 {
    font-size: larger;
    font-weight: 600;
}

ol.landing-steps li {
    margin-top: 1rem;
}

/* Show text icons inline */
ol.landing-steps li i {
    vertical-align: sub;
}

ol.landing-steps li p i {
    vertical-align: top;
    size: inherit;
}

#open-canvas-step p {
    display: inline;
    margin-right: 2rem;
    white-space: nowrap;
}
#open-canvas-step > .row {
    row-gap: .5rem;
}
#open-canvas-step > .row > p {
    margin-bottom: 0;
}

ul.list-ignored-student-matcher, ul.list-matched-students {
    max-height: 30vh;
}
ul.list-ignored-student-matcher li, ul.list-matched-students li {
    font-size: small;
    opacity: 1;
    
    margin-top: 0;
}
ul.list-ignored-student-matcher.overflow-fade-scroll::before, ul.list-ignored-student-matcher.overflow-fade-scroll::after,
ul.list-matched-students.overflow-fade-scroll::before, ul.list-matched-students.overflow-fade-scroll::after {
    margin-right: 0;
}
/* TODO js to activate these highlights */
ul.list-ignored-student-matcher.highlight {
    background-color: var(--bs-info-bg-subtle);
    box-shadow: inset 0px .3rem 1rem .5rem var(--global-background-color);
}

.overflow-fade-scroll {
    position: relative;
    overflow-y: scroll;
}

.overflow-fade-scroll::before, .overflow-fade-scroll::after {
    display: block;
    position: sticky;
    margin-left: -2rem;
    margin-right: -.5rem;

    --fade-height: .5rem;
    height: var(--fade-height);
    --fade-color: var(--global-background-color);
    --fade-midpoint: 50%;
    --fade-to: rgba(0,0,0,0);

    animation-name: fadeInAnimation;
    animation-duration: 1ms;

    content: "";
}

.overflow-fade-scroll::before {
    top: 0;
    
    background-image: linear-gradient(to bottom, var(--fade-color), var(--fade-midpoint), var(--fade-to));
    animation-direction: alternate;
}

.overflow-fade-scroll::after {
    bottom: 0;
    
    background-image: linear-gradient(to top, var(--fade-color), var(--fade-midpoint), var(--fade-to));
    animation-direction: alternate-reverse;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    2.5% {
        opacity: 1;
    }
}

.overflow-fade-scroll::-webkit-scrollbar {
    width: 0.5rem;
}

.overflow-fade-scroll::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 0.7rem;
}

.overflow-fade-scroll::-webkit-scrollbar-thumb:hover {
    background-color: grey;
}

.overflow-fade-scroll {
    scroll-timeline: --scroll-timeline block;
}

.overflow-fade-scroll::before, .overflow-fade-scroll::after {
    animation-timeline: scroll();
}

.popover:has(.popover-table) {
    max-width: 100%;
}
.popover .table-caption {
    margin-bottom: 0;
}
.popover-table{
    font-size: small;
}
td.table-ellipsis {
    opacity: .25;
}

#upload-file-step #file-post-selection-info {
    box-sizing: content-box;
    min-height: 2rem;
    height: min-content;

    max-height: 10rem;
    overflow: overlay;

    display: flex;
    align-items: center;
}
#upload-file-step #file-post-selection-info i {
    vertical-align: top;
}
#upload-file-step #file-post-selection-info p {
    margin-top: .125rem;
    margin-bottom: 0;
}
#upload-file-step #file-post-selection-info #file-process-success,
#upload-file-step #file-post-selection-info #file-process-success .fp-text {
    width: 100%;
}
#upload-file-step #file-post-selection-info #file-process-success .fp-text .row {
    margin-left: 0;
    margin-right: 0;
}

.loader {
    height: 4px;
    width: 30%;
    --c:no-repeat linear-gradient(#0000009a 0 0);
    background: var(--c),var(--c),#0000005b;
    background-size: 60% 100%;
    animation: l16 3s infinite;
}
@keyframes l16 {
    0%   {background-position:-150% 0,-150% 0}
    66%  {background-position: 250% 0,-150% 0}
    100% {background-position: 250% 0, 250% 0}
}

.error-msg {
    margin-top: 2rem;
    position: absolute;
    top: 0;
    width: 100%;
}